#sendMessageButton {
  -fx-border-color: #a8a8a8;
  -fx-border-style: solid;
  -fx-border-width: 1;

  -fx-background-color: #dbdbdb;
  -fx-cursor: hand;
}

#sendMessageButton:hover {
  -fx-background-color: #c8c8c8;
}

#chatBox {
  -fx-text-fill: black;
}

#sendMessageLabel {
  -fx-text-fill: black;
}

.has-text {
  -fx-font-size: 16px;
}
