.handleGuess:hover, .fadedGuess:hover{ 
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

.guessBtn{
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-cursor: hand;
}

.guessBtn:armed {
  -fx-translate-y: 2px;
}